/* 
YouTube creation by Pwint Mar Naing Win.
2024-12
*/
.slidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 5px;
  width: 50px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover {
  background-color: rgb(233, 229, 229);
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}

.sidebar-link div {
  font-family: Rototo, Arial;
  font-size: 10px;
}
